---
title: Home
order: 1
---

<div class="fullphoto">
  <div class="titel">
    <h1 class="fade-in-top">Sara Francesca Hermann</h1>
    <h2 class="fade-in-bottom">Schauspielerin</h2>
  </div>
</div>

<div class="content">

  <div class="grid">
    <h2>Aktuell</h2>
    <div class="text">
      <% data.theater.each do |name, th| %>
        <div class="">
          <h3><%= th.titel %></h3>
          <p class="italic"><%= th.untertitel %></p>
          <p><%= markdown th.beschreibung %>
            <br>
            <% if th.flyer.present? %>
              <a href="<%= th.flyer %>" target="blank">Flyer↗</a>
            <% end %>
          </p>
          <p class="color1">
            <strong>Spieldaten</strong>
            <ul>
              <% th.spieldaten.each do |sp| %>
                <li>
                  <span class="datum"><%= sp.datum %></span> | <span><%= sp.ort %>, </span> <span><%= sp.zeit %>, </span>
                  <% if sp.weiteres.present? %>
                    <span><%= sp.weiteres %>, </span>
                  <% end %>
                  <% if sp.ticketlink.present? %>
                    <a href="<%= sp.ticketlink %>" target="blank">Tickets↗ </a>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </p>
        </div>
      <% end %>
    </div>
  </div>

  <div class="grid">
    <h2>Kontakt</h2>
    <div class="text">
      <p> Sara Francesca Hermann <br>
          E. <a href="mailto: info@sarafrancesca.ch">info@sarafrancesca.ch</a> <br>
          T. +41 79 596 05 50</p>
    </div>
  </div>

</div>

<script>
// Redirect for Netlify Identity signup
if (window.location.hash.includes('_token=')) {
  window.location.assign('/admin/' + window.location.hash);
}
</script>
